body {
    font-family: 'Arial', sans-serif;
    background-color: #b37b7b;
    margin: 0;
}

header {
    background-color: #4CAF50;
    color: #b2c0a2;
    padding: 20px;
    text-align: center;
}

#introducao {
    padding: 20px;
}

#introducao img {
    width: 100%;
}

#galeria {
    padding: 20px;
}

.imagem-galeria {
    display: flex;
    flex-wrap: wrap;
}

.imagem-galeria img {
    width: 48%;
    margin: 1%;
}

#atividades {
    background-color: #e8f5e9;
    padding: 20px;
}

#atividades ul {
    list-style-type: none;
}

#atividades li {
    display: flex;
    align-items: center;
}

#atividades img {
    width: 30px; /* Tamanho do ícone */
    margin-right: 10px; /* Espaçamento entre imagem e texto */
}

#depoimentos {
    background-color: #fff3e0;
    padding: 20px;
}

blockquote {
    border-left: 4px solid #4CAF50;
    margin-left: 0;
    padding-left: 10px;
}

footer {
    text-align: center;
    padding: 10px;
}